1.Define a List with couple of items and do the below
a)Change the last item in your list
b)Remove the 3rd item from your list
c)sort your list on descending
d)Change the second value in your list by replacing it with 2 new values.
e)Add a new item in the 3rd index without replacing any of the values.

2.Define a Tuple with couple of items and do the below
a)Add a new item to the Tuple
b)remove the second item from the tuple
c)Unpack the tuple to different variables.
d)From your list items, upack last 3 items to a sigle variable.

3.Answer the below questions
a)Dictionary data type allows duplicates, True or False
b)Tuple is ordered and allows duplicates, True or False
c)Set is unordered and does not allow duplicates, True or False
d)List is unordered and does not allow duplicates, True or False

4.Take a string and perform below action for the string
a)Check a particular word's existence in your string.
b)Count the number of letters in your string
c)Replace a particular word with another word
d)Convert all to upper case
e)print all letters except last 1

In [26]:
#1.a)Change the last item in your list
students=["ram","shyam","sita","gita"]
type(students)

list

In [27]:
students[3]="mohan"

In [28]:
students

['ram', 'shyam', 'sita', 'mohan']

In [ ]:
#b)Remove the 3rd item from your list

In [29]:
students.pop(2)

'sita'

In [30]:
students

['ram', 'shyam', 'mohan']

In [ ]:
#c)sort your list on descending

In [47]:
num=[2,4,6,4,1,7,8,9]

In [48]:
type(num)

list

In [52]:
num.sort(reverse=True)

In [53]:
print(num)

[9, 8, 7, 6, 4, 4, 2, 1]

In [60]:
#d)Change the second value in your list by replacing it with 2 new values.
num

[9, 5, 7, 6, 4, 4, 2, 1]

In [61]:
num[1]=3
print(num)

[9, 3, 7, 6, 4, 4, 2, 1]

In [62]:
num[1]=5
print(num)

[9, 5, 7, 6, 4, 4, 2, 1]

In [69]:
#e)Add a new item in the 3rd index without replacing any of the values.
num=[9, 5, 7, 6, 4, 4, 2, 1]
num.insert(3,10)

In [70]:
print(num)

[9, 5, 7, 10, 6, 4, 4, 2, 1]

In [91]:
#2.Define a Tuple with couple of items and do the below
#a)Add a new item to the Tuple
thistuple = ("Apple", "BAnAnA", "cherry","MAngo","gRApes","kiwi")
print(thistuple)

y = list(thistuple)
y.append("orAnge")
thistuple = tuple(y)
print(thistuple)

('Apple', 'BAnAnA', 'cherry', 'MAngo', 'gRApes', 'kiwi')
('Apple', 'BAnAnA', 'cherry', 'MAngo', 'gRApes', 'kiwi', 'orAnge')

In [92]:
#b)remove the second item from the tuple
y = list(thistuple)
del(y[1])
thistuple = tuple(y)
print(thistuple)

('Apple', 'cherry', 'MAngo', 'gRApes', 'kiwi', 'orAnge')

In [93]:
#c)Unpack the tuple to different variables.
(red, maroon, yellow, green, darkGreen, oRAnge)  = thistuple

print(red)
print(maroon)
print(yellow)
print(green)
print(darkGreen)
print(oRAnge)

Apple
cherry
MAngo
gRApes
kiwi
orAnge

In [94]:
#d)From your list items, upack last 3 items to a sigle variable.
(A, b, c, *d) = thistuple
print(A)
print(b)
print(c)
print(d)

Apple
cherry
MAngo
['gRApes', 'kiwi', 'orAnge']

3.Answer the below questions
a)Dictionary data type allows duplicates, True or False
b)Tuple is ordered and allows duplicates, True or False
c)Set is unordered and does not allow duplicates, True or False
d)List is unordered and does not allow duplicates, True or False

a)False
b)True
c)True
d)False

In [75]:
#4.Take a string and perform below action for the string
#a)Check a particular word's existence in your string.
x="i know both ram and shyam"
print("ram" in x)

True

In [76]:
#b)Count the number of letters in your string
count=0
for i in x:
    if(i!=" "):
        count=count+1
        print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [77]:
#c)Replace a particular word with another word

x.replace('ram','mohan')

'i know both mohan and shyam'

In [78]:
#d)Convert all to upper case
x.upper()

'I KNOW BOTH RAM AND SHYAM'

In [79]:
#e)print all letters except last 1

x[:-1]

'i know both ram and shya'