1.Take a String like ‘I am learning Python everyday’ and do the below
function on this
a)Convert all to upper
b)Convert all to Lower
c)Count number of letters in string
d)Check if ‘Everyday’ exist in string
e)Find the position of ‘P’ in the string
f)Replace ‘Python’ with ‘python course’
g)Print all letters except last one
h)Print 5 characters from position 1.
i)Fetch 'Python' from the string.

In [51]:
g="i am learning python everyday"

In [52]:
#a)Convert all to upper
#1928231
g.upper()

'I AM LEARNING PYTHON EVERYDAY'

In [53]:
#b)Convert all to Lower
g.lower()

'i am learning python everyday'

In [54]:
#c)Count number of letters in string
len(g)

29

In [55]:
#d)Check if ‘Everyday’ exist in string
print('Everyday'in g)

False

In [56]:
#e)Find the position of ‘P’ in the string
g.find("P")

-1

In [57]:
#f)Replace ‘Python’ with ‘python course’
g.replace("Python","python course")

'i am learning python everyday'

In [58]:
#g)Print all letters except last one
g[:-1]

'i am learning python everyda'

In [59]:
#h)Print 5 characters from position 1.
g[1:6]

' am l'

In [60]:
#i)Fetch 'Python' from the string.
print(g.find("python"))

14

2. Define int, float, str type varibles and convert one type to different types like from int to str.

int: represents positive or negative whole numbers like 3 or -512. 
float: represents real numbers like 3.14159 or -2.5.
str: text Written in either single quotes or double quotes

In [61]:
name="gulshan"
age=19
sgpa=8.9

In [62]:
type(name)

str

In [63]:
type(age)

int

In [64]:
type(sgpa)

float

In [65]:
strname=str(name)
type(strname)

str

In [66]:
strage=str(age)
type(strage)

str

In [67]:
strsgpa=str(sgpa)
type(strsgpa)

str

3. Take the input from console and do any sarthmetic operation on the accepted value from console.

In [68]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [69]:
print(my_taxes)

10.0